@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Thai', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans Thai', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bs-body-font-family: 'Noto Sans Thai', 'sans-serif' !important;
}

.tabs-text .nav-item .nav-link {
  color: #000;
}

textarea {
  min-height: 100px !important;
}

ion-icon {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
 }

.form-floating {
  margin-bottom: 16px;
}

.text-danger:active {
  background-color: red !important;
  color: #FFF !important;
}

.table-ell td {
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main {
  transition: all .2s ease-out;
}

.el-text {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
 
.dropdown-toggle::after {
  display: none !important; 
}

.dropstart .dropdown-toggle::before {
  display: none !important;
}
